<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="bd" connectionString="Server=DESKTOP-H2U1CG0\SQLEXPRESS;Uid=tunas;Pwd=amarillo;MultipleActiveResultSets=True;Timeout=5;Database=pruebademo;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>